<div class="">
	<span class = " ">
		<h3>About RailsCasts</h3>
<p>   RailsCasts is produced by Ryan Bates (rbates on Twitter and ryanb on GitHub). A free episode will be released every other week featuring tips and tricks with Ruby on Rails. The screencasts are short and focus on one technique so you can quickly move on to applying it to your own project. The topics target the intermediate Rails developer, but beginners and experts will get something out of it as well. A Pro option is also available containing more screencasts each week.</p>

<h3>ASCIIcasts</h3>
<p>   If you prefer text over video, a text version (ASCIIcast) is available for most videos. Special thanks to Eifion Bedford and the translators for transcribing the majority of the episodes into textual form.</p>
	</span>
		<span class = "span2 pull-right">
		<%= image_tag("au.jpg")%>
		<h4>       Mr.Ruby</h4>
	<span>
	</div>
	<span>
		
Do you like the TextMate theme used in these screencasts? It is custom made and based off of the theme by idlefingers. I am using the Bitstream Vera Sans Mono font.

Download Textmate Theme

A Vim Theme is also available.

<h4>Contact</h4>
If you have any comments, suggestions, questions, etc. I'd love to hear them! Please use the Feedback Page or send an email to feedback@railscasts.com.

<h4>Moderators</h4>
Thank you to all moderators who help keep the site clean and up to date:

Andy L
Ben Woodward
Eifion Bedford
Joe Woodward
Kieran P
Mark Kremer
Noah Hendrix
Seth Vargo
If you are interested in becoming a moderator, see the moderator guidelines.

<h4>Special Thanks</h4>
Special thanks to Linode for providing hosting for this site and SublimeVideo for providing the video player.

<h4>This Site</h4>
This site is available in open source. It is intended to be used as an example Rails app, so feel free to copy bits of it for your own project. If you would like to use it as a starting point for your own site please contact me.

<h4>Software and Hardware Used</h4>
TextMate - the best text editor
KeyCastr - visual keyboard shortcuts
iShowU - older version records the screen
Final Cut Pro - for putting it all together
Motion - the intro animation
Heil PR 40 - the microphone
<h4>License</h4>
All free RailsCasts episodes are under the Creative Commons license. You are free to distribute unedited versions of those episodes for non-commercial purposes. You are also free to translate them into any language. If you would like to edit the video please contact me. All pro and revised episodes are not licensed for redistribution.
	</span>

